/*Custom properties*/
:root{
	/*Colors*/
	--clr-primary-100: #f1f1f1;
	--clr-primary-200: #9d9d9d;
	--clr-primary-400: #599adb;
	--crl-primary-700: #656565;
	--clr-primary-800: #4d4d4d;

	--clr-neutral-100: #fff;

	/*Font family*/
	--ff-primary: 'Poiret One', cursive;
}
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
*,
*::before,
*::after {
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
    color: #444;
    font-family: var(--ff-primary), 'Calibri' sans-serif;
	font-weight: 400;
	font-size: 1.3125rem;
	line-height: 1.6;
}
body, 
h1, 
h2, 
h3 {
	margin: 0;
}
h1, h2, h3 {
	font-weight: 900;
	color: var(--clr-neutral-100);
	line-height: 1;
}
h2, h3, p {
	margin-bottom: 1em;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	display: inline-block;
}
a{
	color: var(--clr-neutral-100);
	text-decoration: none;
}
header,
section{
    padding: 4rem 0;
}

img{
    display: block;
    max-width: 100%;
}
/*Utility Classes*/
.bg-header{
    background-image: url('img/header.jpg');
	background-size: cover; /*ocupa o espaço inteiro*/
	background-position: center;
	background-repeat: no-repeat;
	color: var(--clr-primary-100);
    height: 350px;
}
.bg-dark{
	background-color: var(--clr-primary-400);
	color: var(--clr-primary-100);
}
.bg-dark-gray{
	background-color: var(--clr-primary-800);
}
.container{
	margin-inline: auto;
	width: min(90%, 70.5rem);
}
.container--narrow{
    max-width: 34rem;
}
.text-center{
	text-align: center;
}
.split{
	display: flex; /*columns*/
    flex-direction: column;
}
.img-about{
	width: 75%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 40em){
	/*gives more space around the content in bigger screens*/
	header,
	section{
		padding: 7rem 0;
	}
    .split{
        flex-direction: row;
    }
	.img-about{
		width: 50%;
	}
    /*all direct children of split*/
    .split > * {
        flex-basis: 100%; /*shrink both columns to make everything fit and lock the same size*/
    }
    .split > * + * { /*if the item has a "sibling" before it will do what is inside. in this case the second column*/
        margin-left: 2em;
    }
}
@media screen and (min-width: 50em) {
	.bg-banner{
		height: 350px;
	}
    
}
/*
NAVIGATION
*/
nav{
    background: var(--clr-primary-800);
    height: 80px;
    width: 100%;
}
.logo{
    color: var(--clr-neutral-100);
    font-size: 2.5rem;
    line-height: 80px;
    padding: 0 6.25rem;
}
nav ul{
    float: right;
    margin-right: 1.250em;
}
nav ul li{
    line-height: 80px;
    margin: 0 0.313em;
}
nav ul li a{
    color: var(--clr-neutral-100);
    font-size: 0.938rem;
    padding: 0.438rem 0.625rem;
    border-radius: 3px; 
}
a:hover{
    background: var(--crl-primary-700);
    transition: .5s;
}
.check-menu-btn{
    font-size: 1.875rem;
    color: var(--clr-neutral-100);
    float: right;
    line-height: 80px;
    margin-right: 2.5em;
    cursor: pointer;
    display: none;
}
#check-menu{
    display: none;
}
@media (max-width: 53em){
    .check-menu-btn{
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        background: var(--crl-primary-700);
        left: -100%;
        transform-origin: top;
        transition: ease-in-out .5s;
    }
    nav ul li{
        display: block;
        margin: 3.125em 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 1.25rem;
    }
    a:hover{
        background: none;
        color: var(--clr-primary-800);
    }
    #check-menu:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 59em){
    label.logo{
        font-size: 1.875rem;
        padding-left: 3.125rem;
    }
    nav ul li a{
        font-size: 1rem;
    }
}
/*
PORTFOLIO
*/
.a-portfolio{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.a-portfolio > img{
	width: 100%;
}
.a-portfolio:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
#portfolio h2{
	color: var(--clr-primary-800);
}
#portfolio h3{
	color: var(--clr-primary-400);
}
/*
FOOTER
*/
footer{
	color: var(--clr-primary-100);
	font-size: 1.1rem;
	padding: 2rem 2rem;
	font-weight: 500;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul{
    flex-wrap: wrap;
    justify-content: center;
}
footer li{
    padding: 0 1rem;
    margin-bottom: 1rem;
    
}
